<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.ContractDao">
	<resultMap id="ContractType" type="com.spring.boot.bean.master.ContractType">
		<result column="contractType_id" property="contractTypeId" />
		<result column="contractType_name" property="contractTypeName" />
		<result column="contractType_code" property="contractTypeCode" />
		<result column="status" property="status" />
	</resultMap>


	<sql id="Base_Column_List">
		 contractType_id,contractType_name,contractType_code,status
	</sql>

	<update id="updateContractType" parameterType="map">
		update contract_type set contractType_name = #{contractTypeName}
		where contractType_id = #{contractTypeId}
	</update>
	<insert id="addContractType" parameterType="map">
		INSERT INTO contract_type (contractType_name, contractType_code )
              VALUES   (#{contractTypeName},#{contractTypeCode} )
	</insert>
	<update id="deleteContractType" parameterType="map">
		update contract_type set status = 2
		where contractType_id = #{contractTypeId}
	</update>

</mapper>
