<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysAccountsReceivableDao">
    <resultMap id="sysAccountsReceivable" type="com.spring.boot.bean.master.SysAccountsReceivable">
        <result column="accounts_id" property="accountsId"/>
        <result column="company_id" property="companyId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="receivable_accounts_owner" property="receivableAccountsOwner"/>
        <result column="complete_accounts_owner" property="completeAccountsOwner"/>
        <result column="complete_coupon" property="completeCoupon"/>
        <result column="receivable_coupon" property="receivableCoupon"/>
        <result column="complete_vacancy" property="completeVacancy"/>
        <result column="receivable_vacancy" property="receivableVacancy"/>
        <result column="complete_subsidy" property="completeSubsidy"/>
        <result column="receivable_subsidy" property="receivableSubsidy"/>
        <result column="complete_sales" property="completeSales"/>
        <result column="receivable_sales" property="receivableSales"/>
        <result column="receivable_open" property="receivableOpen"/>
        <result column="complete_open" property="completeOpen"/>
        <result column="complete_property_subsidy" property="completePropertySubsidy"/>
        <result column="receivable_property_subsidy" property="receivablePropertySubsidy"/>
        <result column="complete_house_other" property="completeHouseOther"/>
        <result column="receivable_house_other" property="receivableHouseOther"/>
        <result column="complete_house" property="completeHouse"/>
        <result column="receivable_house" property="receivableHouse"/>
        <result column="create_time" property="createTime"/>
        <result column="status_code" property="statusCode"/>
        <result column="companyName" property="companyName"/>
    </resultMap>

    <sql id="Base_Column_List">
		accounts_id, company_id, year, month,receivable_accounts_owner,complete_accounts_owner,complete_coupon,receivable_coupon,complete_vacancy,receivable_vacancy
		,complete_subsidy,receivable_subsidy,complete_sales,receivable_sales,receivable_open,complete_open,complete_property_subsidy,receivable_property_subsidy
		,complete_house_other,receivable_house_other,complete_house,receivable_house,create_time,status_code
	</sql>
    <!--更新年份、月份、公司id查找系统信息，用于判断系统是否存在相同数据-->
    <select id="findRecordByYearAndMonth" resultMap="sysAccountsReceivable">
        select accounts_id from sys_accounts_receivable
        where 1=1 and status_code!=2 and year = #{year} and month = #{month} and company_id=#{companyId}
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysAccountsReceivableAnalysis" resultMap="sysAccountsReceivable" parameterType="map">
        SELECT SUM(receivable_accounts_owner) AS receivable_accounts_owner,SUM(complete_accounts_owner) AS
        complete_accounts_owner,SUM(complete_house) AS complete_house
        ,SUM(receivable_house) AS receivable_house,SUM(complete_coupon) AS complete_coupon,SUM(receivable_coupon) AS
        receivable_coupon,SUM(complete_vacancy) AS complete_vacancy
        ,SUM(receivable_vacancy) AS receivable_vacancy,SUM(complete_subsidy) AS complete_subsidy,SUM(receivable_subsidy)
        AS receivable_subsidy,SUM(complete_sales) AS complete_sales
        ,SUM(receivable_sales) AS receivable_sales,SUM(receivable_open) AS receivable_open,SUM(complete_open) AS
        complete_open,SUM(complete_property_subsidy) AS complete_property_subsidy
        ,SUM(receivable_property_subsidy) AS receivable_property_subsidy,SUM(complete_house_other) AS
        complete_house_other,SUM(receivable_house_other) AS receivable_house_other
        from sys_accounts_receivable where 1=1
        and year = #{year}
        and month = #{month}
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysAccountsReceivableAnalysisForMonth" resultMap="sysAccountsReceivable">
        SELECT SUM(receivable_accounts_owner) as receivable_accounts_owner,SUM(complete_accounts_owner) as
        complete_accounts_owner,month
        from sys_accounts_receivable where 1=1 and status_code!=2
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and year = #{year}
        GROUP BY `month` ORDER BY `month` asc
    </select>
    <!--应收账款列表信息-->
    <select id="sysAccountsReceivableList" resultMap="sysAccountsReceivable" parameterType="map">
        SELECT
        accountsRe.accounts_id,accountsRe.company_id,year,month,receivable_accounts_owner,complete_accounts_owner,
        complete_house,receivable_house,accountsRe.create_time,accountsRe.status_code, company.company_name AS
        companyName
        FROM
        sys_accounts_receivable AS accountsRe LEFT JOIN sys_company AS company ON accountsRe.company_id =
        company.company_id
        WHERE 1 = 1 AND accountsRe.status_code != 2
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND accountsRe.company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and accountsRe.year = #{year} ORDER BY accountsRe.create_time desc
    </select>
    <!--应收账款列表信息总条数-->
    <select id="sysAccountsReceivableListTotal" resultType="int" parameterType="map">
        SELECT count(accounts_id)
        from sys_accounts_receivable as accountsRe where 1=1 and accountsRe.status_code!=2
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND accountsRe.company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and accountsRe.year = #{year}
    </select>
    <select id="findSysAccountsReceivableById" resultMap="sysAccountsReceivable" parameterType="map">
        select
        accounts.*,company.company_name as companyName
        from sys_accounts_receivable as accounts left JOIN sys_company as company on accounts.company_id=company.company_id
        where 1=1 and accounts.status_code!=2 and  accounts_id = #{accountsId}
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysAccountsReceivableMonths" resultType="String" parameterType="map">
       select group_concat(distinct month ORDER BY month asc)as monthInfo from sys_accounts_receivable WHERE 1=1 and status_code!=2 and `year`= #{year}
    </select>
    <!--更新应收账款信息-->
    <update id="updateSysAccountsReceivable" parameterType="com.spring.boot.bean.master.SysAccountsReceivable">
		update sys_accounts_receivable set year = #{year},month = #{month},receivable_accounts_owner = #{receivableAccountsOwner},complete_accounts_owner = #{completeAccountsOwner},complete_coupon = #{completeCoupon},receivable_coupon = #{receivableCoupon}
		,complete_vacancy = #{completeVacancy},receivable_vacancy = #{receivableVacancy},complete_subsidy = #{completeSubsidy},receivable_subsidy = #{receivableSubsidy},complete_sales = #{completeSales}
		,receivable_sales = #{receivableSales},receivable_open = #{receivableOpen},complete_open = #{completeOpen},complete_property_subsidy = #{completePropertySubsidy},receivable_property_subsidy = #{receivablePropertySubsidy}
		,complete_house_other = #{completeHouseOther},receivable_house_other = #{receivableHouseOther},complete_house = #{completeHouse},receivable_house = #{receivableHouse},company_id = #{companyId}
		where accounts_id = #{accountsId}
	</update>
    <!--添加应收账款信息-->
    <insert id="addSysAccountsReceivable" parameterType="com.spring.boot.bean.master.SysAccountsReceivable">
		INSERT INTO sys_accounts_receivable (year, month, receivable_accounts_owner, complete_accounts_owner,complete_coupon,receivable_coupon,complete_vacancy,receivable_vacancy,complete_subsidy,receivable_subsidy
		,complete_sales,receivable_sales,receivable_open,complete_open,complete_property_subsidy,receivable_property_subsidy,complete_house_other,receivable_house_other,complete_house,receivable_house,company_id)
              VALUES   (#{year},#{month},#{receivableAccountsOwner},#{completeAccountsOwner},#{completeCoupon},#{receivableCoupon},#{completeVacancy},#{receivableVacancy},#{completeSubsidy},#{receivableSubsidy}
              ,#{completeSales},#{receivableSales},#{receivableOpen},#{completeOpen},#{completePropertySubsidy},#{receivablePropertySubsidy},#{completeHouseOther},#{receivableHouseOther},#{completeHouse}
              ,#{receivableHouse},#{companyId})
	</insert>
    <!--删除应收账款信息，只更新状态，不作实际删除操作-->
    <update id="deleteSysAccountsReceivable">
        update sys_accounts_receivable set status_code=2
        where accounts_id = #{accountsId}
    </update>

</mapper>
