<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysBudgetDetailsDao">
    <resultMap id="sysAccountsReceivable" type="com.spring.boot.bean.master.SysBudgetDetails">
        <result column="budget_id" property="budgetId"/>
        <result column="company_id" property="companyId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="budget_income" property="budgetIncome"/>
        <result column="real_income" property="realIncome"/>
        <result column="budget_profits" property="budgetProfits"/>
        <result column="real_profits" property="realProfits"/>
        <result column="budget_expenses" property="budgetExpenses"/>
        <result column="personnel_cost" property="personnelCost"/>
        <result column="administrative_cost" property="administrativeCost"/>
        <result column="material_cost" property="materialCost"/>
        <result column="energy_cost" property="energyCost"/>
        <result column="equipment_cost" property="equipmentCost"/>
        <result column="cleaning_cost" property="cleaningCost"/>
        <result column="afforest_cost" property="afforestCost"/>
        <result column="order_maintenance_cost" property="orderMaintenanceCost"/>
        <result column="community_activities_cost" property="communityActivitiesCost"/>
        <result column="other_cost" property="otherCost"/>
        <result column="real_expenses_total" property="realExpensesTotal"/>
        <result column="create_time" property="createTime"/>
        <result column="status_code" property="statusCode"/>
    </resultMap>

    <sql id="Base_Column_List">
		accounts_id, company_id, year, month,receivable_accounts_owner,complete_accounts_owner,complete_coupon,receivable_coupon,complete_vacancy,receivable_vacancy
		,complete_subsidy,receivable_subsidy,complete_sales,receivable_sales,receivable_open,complete_open,complete_property_subsidy,receivable_property_subsidy
		,complete_house_other,receivable_house_other,complete_house,receivable_house,create_time,status_code
	</sql>
    <select id="findRecordByYearAndMonth" resultMap="sysAccountsReceivable" >
        select accounts_id from sys_accounts_receivable
        where 1=1 and status_code!=2 and year = #{year} and month = #{month}
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysBudgetDetailsAnalysis" resultMap="sysAccountsReceivable" parameterType="map">
        SELECT
        SUM(budget_income) AS budget_income,SUM(real_income) AS real_income, SUM(budget_profits) AS budget_profits,
        SUM(real_profits) AS real_profits,SUM(budget_expenses) AS budget_expenses,SUM(real_expenses_total) AS real_expenses_total,
        SUM(personnel_cost) AS personnel_cost,SUM(administrative_cost) AS administrative_cost,SUM(material_cost) AS material_cost,
        SUM(energy_cost) AS energy_cost,SUM(equipment_cost) AS equipment_cost,SUM(cleaning_cost) AS cleaning_cost,SUM(afforest_cost) AS afforest_cost,
        SUM(order_maintenance_cost) AS order_maintenance_cost,SUM(community_activities_cost) AS community_activities_cost,SUM(other_cost) AS other_cost
        FROM sys_budget_details where 1=1
        and year = #{year}
        and month = #{month}
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysBudgetDetailsIncomeForMonth" resultMap="sysAccountsReceivable" >
        SELECT SUM(budget_income) as budget_income,SUM(real_income) as real_income,SUM(budget_expenses) as budget_expenses,SUM(real_expenses_total) as real_expenses_total,SUM(real_profits) as real_profits,month
        from sys_budget_details where 1=1 and status_code!=2
        <if test="list != null and list.size>0">
            AND company_id IN
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and year = #{year}
        GROUP BY `month` ORDER BY `month` asc
    </select>
    <!--//也可以封装成map传值,根据年份和月份，获取当前年上一年12月份对应的实际利润信息-->
    <select id="sysBudgetRealProfitsByMonth" resultMap="sysAccountsReceivable" >
        SELECT SUM(real_profits) as real_profits,month
        from sys_budget_details where 1=1 and status_code!=2
        <if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
            AND company_id IN
            <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and year = #{year}
        and month = #{month}
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysAccountsReceivableMonths" resultType="String" parameterType="map">
       select group_concat(distinct month ORDER BY month asc)as monthInfo from sys_accounts_receivable WHERE 1=1 and status_code!=2 and `year`= #{year}
    </select>
    <update id="updateSysAccountsReceivable" parameterType="com.spring.boot.bean.master.SysAccountsReceivable">
		update sys_accounts_receivable set year = #{year},month = #{month},receivable_accounts_owner = #{receivableAccountsOwner},complete_accounts_owner = #{completeAccountsOwner},complete_coupon = #{completeCoupon},receivable_coupon = #{receivableCoupon}
		,complete_vacancy = #{completeVacancy},receivable_vacancy = #{receivableVacancy},complete_subsidy = #{completeSubsidy},receivable_subsidy = #{receivableSubsidy},complete_sales = #{completeSales}
		,receivable_sales = #{receivableSales},receivable_open = #{receivableOpen},complete_open = #{completeOpen},complete_property_subsidy = #{completePropertySubsidy},receivable_property_subsidy = #{receivablePropertySubsidy}
		,complete_house_other = #{completeHouseOther},receivable_house_other = #{receivableHouseOther},complete_house = #{completeHouse},receivable_house = #{receivableHouse},company_id = #{companyId}
		where accounts_id = #{accountsId}
	</update>
    <insert id="addSysAccountsReceivable" parameterType="com.spring.boot.bean.master.SysAccountsReceivable">
		INSERT INTO sys_accounts_receivable (year, month, receivable_accounts_owner, complete_accounts_owner,complete_coupon,receivable_coupon,complete_vacancy,receivable_vacancy,complete_subsidy,receivable_subsidy
		,complete_sales,receivable_sales,receivable_open,complete_open,complete_property_subsidy,receivable_property_subsidy,complete_house_other,receivable_house_other,complete_house,receivable_house,company_id)
              VALUES   (#{year},#{month},#{receivableAccountsOwner},#{completeAccountsOwner},#{completeCoupon},#{receivableCoupon},#{completeVacancy},#{receivableVacancy},#{completeSubsidy},#{receivableSubsidy}
              ,#{completeSales},#{receivableSales},#{receivableOpen},#{completeOpen},#{completePropertySubsidy},#{receivablePropertySubsidy},#{completeHouseOther},#{receivableHouseOther},#{completeHouse}
              ,#{receivableHouse},#{companyId})
	</insert>

</mapper>
