<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysBasicDataDao">
    <!--<resultMap id="sysCompany" type="com.spring.boot.bean.master.SysBasicData">
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="company_code" property="companyCode"/>
        <result column="parent_id" property="parentId"/>
        <result column="company_phone" property="companyPhone"/>
        <result column="company_address" property="companyAddress"/>
        <result column="status_code" property="statusCode"/>
    </resultMap>-->

    <!--<sql id="Base_Column_List">
		basic_id as basicId, company_id as companyId, year, month,construction_area as constructionArea,charge_area as chargeArea,city_number as cityNumber,project_number as projectNumber
		,house_number as houseNumber,accept_house_number as acceptHouseNumber,for_sale_house_number as forSaleHouseNumber,decorate_house_number as decorateHouseNumber
		,parking_space as parkingSpace,for_sale_parking_space as forSaleParkingSpace,sales_distribution as salesDistribution,status_code as statusCode
	</sql>-->
    <sql id="Base_Column_List">
       basic.basic_id as basicId, basic.company_id as companyId, basic.year, basic.month,basic.construction_area as constructionArea,basic.charge_area as chargeArea,basic.city_number as cityNumber,
       basic.project_number as projectNumber,basic.house_number as houseNumber,basic.accept_house_number as acceptHouseNumber,basic.for_sale_house_number as forSaleHouseNumber,basic.decorate_house_number as decorateHouseNumber,
       basic.parking_space as parkingSpace,basic.for_sale_parking_space as forSaleParkingSpace,basic.sales_distribution as salesDistribution,basic.status_code as statusCode,basic.create_time as createTime,company.company_name as companyName
    </sql>
    <sql id="Base_Data_Total">
        SUM(basic.construction_area) AS constructionArea,
        SUM(basic.charge_area) AS chargeArea,
        sum(basic.project_number) AS projectNumber,
        SUM(basic.house_number) AS houseNumber,
        SUM(basic.accept_house_number) AS acceptHouseNumber,
        SUM(basic.for_sale_house_number) AS forSaleHouseNumber,
        SUM(basic.decorate_house_number) AS decorateHouseNumber,
        SUM(basic.parking_space) AS parkingSpace,
        SUM(basic.for_sale_parking_space) AS forSaleParkingSpace,
        SUM(basic.sales_distribution) AS salesDistribution,
        SUM(basic.city_number) AS cityNumber
    </sql>

    <select id="sysBasicDataAnalysisData" resultType="com.spring.boot.bean.master.entity.SysBasicDataEntity" parameterType="map">
        select
        <include refid="Base_Data_Total"/>
        from sys_basic_data as basic
        where 1=1
        /*注：type为1时，为按区域查询（小区）查询数据，type为2时，不考虑登录用户权限内小区，查询全国数据，即是物业大屏数据展示分析接口使用*/
        <if test="type == 1">
            <choose>
                <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                    AND basic.company_id IN
                    <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    AND basic.company_id IN(SELECT company_id from sys_company where status_code!=2)
                </otherwise>
            </choose>
        </if>
        and basic.year = #{year}
        and basic.month = #{month}
        and basic.status_code!=2

    </select>
    <select id="sysBasicDataAnalysisListTotal" resultType="int"  parameterType="map">
        select count(basic_id)
        from sys_basic_data where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and year = #{year}
        and status_code!=2
    </select>
    <select id="sysBasicDataAnalysisList" resultType="com.spring.boot.bean.master.entity.SysBasicDataEntity"  parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_basic_data  as basic LEFT JOIN sys_company AS company ON basic.company_id = company.company_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND basic.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND basic.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and basic.year = #{year}
        and basic.status_code!=2
        ORDER BY basic.create_time DESC
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <!--根据信息id查找详情信息-->
    <select id="findSysBasicDataById" resultType="com.spring.boot.bean.master.entity.SysBasicDataEntity"  parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_basic_data  as basic LEFT JOIN sys_company AS company ON basic.company_id = company.company_id
        where 1=1
        and basic.basic_id = #{basicId}
        and basic.status_code!=2
    </select>
    <!--根据公司id、年份、月份查找系统记录-->
    <select id="sysBasicDataRecord" resultType="com.spring.boot.bean.master.SysBasicData" >
        select basic.basic_id as basicId
        from sys_basic_data  as basic
        where 1=1
        and basic.company_id = #{companyId}
        and basic.year = #{year}
        and basic.month = #{month}
        and basic.status_code!=2
    </select>
    <update id="updateSysBasicData" parameterType="map">
		update sys_basic_data set company_id = #{companyId},year = #{year},month = #{month},construction_area = #{constructionArea},charge_area = #{chargeArea}
		,city_number = #{cityNumber},project_number = #{projectNumber},house_number = #{houseNumber},accept_house_number = #{acceptHouseNumber},accept_house_number = #{acceptHouseNumber}
		,for_sale_house_number = #{forSaleHouseNumber},decorate_house_number = #{decorateHouseNumber},parking_space = #{parkingSpace},for_sale_parking_space = #{forSaleParkingSpace}
		,sales_distribution = #{salesDistribution}
		where basic_id = #{basicId}
	</update>
    <insert id="addSysBasicData" parameterType="map">
		INSERT INTO sys_basic_data (company_id, year, month, construction_area,charge_area,city_number,project_number,house_number,accept_house_number,for_sale_house_number,decorate_house_number
		,parking_space,for_sale_parking_space,sales_distribution,create_time)
              VALUES   (#{companyId},#{year},#{month},#{constructionArea},#{chargeArea},#{cityNumber},#{projectNumber},#{houseNumber},#{acceptHouseNumber},#{forSaleHouseNumber},#{decorateHouseNumber}
              ,#{parkingSpace} ,#{forSaleParkingSpace},#{salesDistribution},#{createTime} )
	</insert>
    <update id="deleteSysBasicData" parameterType="map">
		update sys_basic_data set status_code = 2
		where basic_id = #{basicId}
	</update>

</mapper>
