<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysContractDao">
	<resultMap id="sysContract" type="com.spring.boot.bean.master.SysContract">
		<result column="id" property="contractId" />
		<result column="contract_name" property="contractName" />
		<result column="contract_code" property="contractCode" />
		<result column="contract_money" property="contractMoney" />
		<result column="contract_startTime" property="contractStartTime" />
		<result column="contract_endTime" property="contractEndTime" />
		<result column="contract_type_id" property="contractTypeId" />
		<result column="first_party_company" property="firstPartyCompany" />
		<result column="second_party_company" property="secondPartyCompany" />
		<result column="person_liable_name" property="personLiableName" />
		<result column="create_time" property="createTime" />
		<result column="status_code" property="statusCode" />
	</resultMap>

	<sql id="Base_Column_List">
		 contractType_id,contractType_name,contractType_code,status_code
	</sql>

	<update id="update" parameterType="map">
		update sys_contract set contractType_name = #{contractTypeName}
		where contractType_id = #{contractTypeId}
	</update>
	<insert id="save" parameterType="map">
		INSERT INTO sys_contract  (contract_name, contract_code,contract_money,contract_startTime,contract_endTime,contract_type_id,first_party_company,second_party_company,person_liable_name,
		 create_time)
              VALUES   (#{contractName},#{contractCode},#{contractMoney},#{contractStartTime},#{contractEndTime},#{contractTypeId},#{firstPartyCompany},#{secondPartyCompany},#{personLiableName},#{createTime} )
	</insert>
	<update id="delete" parameterType="map">
		update sys_contract  set status_code = 2
		where contractType_id = #{contractTypeId}
	</update>

</mapper>
