<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysChargeDao">
    <resultMap id="sysChargeDetails" type="com.spring.boot.bean.master.SysChargeDetails">
        <result column="charge_id" property="chargeId"/>
        <result column="charge_money" property="chargeMoney"/>
        <result column="charge_money_now" property="chargeMoneyNow"/>
        <result column="charge_debt" property="chargeDebt"/>
        <result column="charge_debt_return" property="chargeDebtReturn"/>
        <result column="create_time" property="createTime"/>
        <result column="company_id" property="companyId"/>
        <result column="status_code" property="statusCode"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="week_of_year" property="weekOfYear"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <!--<parameterMap id="user" type="com.spring.boot.bean.User"/>-->

    <sql id="Base_Column_List">
		charge_id, charge_money, charge_money_now, charge_debt,charge_debt_return,create_time,company_id,status_code
	</sql>
    <select id="queryList" resultMap="sysChargeDetails" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_company
        where status_code!=2
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <!--//也可以封装成map传值-->
    <select id="sysChargeDetails" resultMap="sysChargeDetails" parameterType="map">
        SELECT charge_id,SUM(charge_money) AS charge_money,SUM(charge_money_now) AS charge_money_now,SUM(charge_debt) AS charge_debt,SUM(charge_debt_return) AS charge_debt_return from sys_charge_details where 1=1
        and status_code!=2 and week_of_year = #{weekOfYear} and year=#{year}
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
    </select>
    <!--查找（原：当年全年，现在：查找最近12周的数据）数据，为大屏财务数据页面展示提供服务-->
    <select id="sysChargeDetailsForYear" resultMap="sysChargeDetails" parameterType="map">
        SELECT charge_id,YEAR,MONTH,week_of_year,
        SUM(charge_money) AS charge_money,
        SUM(charge_money_now) AS charge_money_now,
        SUM(charge_debt) AS charge_debt,
        SUM(charge_debt_return) AS charge_debt_return
        FROM sys_charge_details
        WHERE 1 = 1 AND status_code != 2
        GROUP BY week_of_year ORDER BY `year` DESC,week_of_year DESC LIMIT 0, 12
        <!--原来按照月份查询数据的条件/*SELECT charge_id,year,month,SUM(charge_money) AS charge_money,SUM(charge_money_now) AS charge_money_now,SUM(charge_debt) AS charge_debt,SUM(charge_debt_return) AS charge_debt_return from sys_charge_details where 1=1
        and status_code!=2 and year=#{year} GROUP BY month*/-->
        <!--/* SELECT
        a.MONTH,
        SUM(charge_money) AS charge_money,
        SUM(charge_money_now) AS charge_money_now,
        SUM(charge_debt) AS charge_debt,
        SUM(charge_debt_return) AS charge_debt_return
        FROM (SELECT
            DATE_FORMAT(create_time, '%m') MONTH,
            charge_money,
            charge_money_now,
            charge_debt,
            charge_debt_return
              FROM sys_charge_details
                WHERE DATE_FORMAT(create_time, '%Y') = #{year} AND status_code != 2
            ) a
          GROUP BY a.MONTH*/-->
    </select>
    <!--根据主键id查找信息-->
    <select id="findSysChargeDetailsById" resultMap="sysChargeDetails" >
        select charge.charge_id, charge.charge_money, charge.charge_money_now, charge.charge_debt,charge.charge_debt_return,charge.create_time,charge.company_id,charge.status_code
        ,company.company_name
        from sys_charge_details as charge left join sys_company as company on charge.company_id=company.company_id
        where charge.status_code!=2
        and charge.charge_id = #{chargeId}
    </select>
    <!--根据年份跟周数查找信息-->
    <select id="findSysChargeDetailsByWeekOfYear" resultMap="sysChargeDetails" >
        select charge_id from sys_charge_details
        where status_code!=2 and week_of_year = #{weekOfYear} and year=#{year} and company_id=#{companyId}
    </select>
    <!--更新信息-->
    <update id="update" parameterType="map">
		update sys_charge_details set charge_money=#{chargeMoney},charge_money_now=#{chargeMoneyNow},charge_debt=#{chargeDebt},charge_debt_return=#{chargeDebtReturn},company_id=#{companyId}
		where charge_id=#{chargeId}
	</update>
    <!--新增信息-->
    <insert id="addSysCharge" parameterType="com.spring.boot.bean.master.SysChargeDetails">
		INSERT INTO sys_charge_details (charge_money, charge_money_now, charge_debt, charge_debt_return,company_id,create_time,week_of_year,year,month)
              VALUES   (#{chargeMoney},#{chargeMoneyNow},#{chargeDebt},#{chargeDebtReturn},#{companyId},#{createTime},#{weekOfYear},#{year},#{month})
	</insert>


</mapper>
