<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysContractTypeDao">
	<resultMap id="contractType" type="com.spring.boot.bean.master.SysContractType">
		<result column="contractType_id" property="contractTypeId" />
		<result column="contractType_name" property="contractTypeName" />
		<result column="contractType_code" property="contractTypeCode" />
		<result column="status_code" property="statusCode" />
	</resultMap>


	<sql id="Base_Column_List">
		 contractType_id,contractType_name,contractType_code,status_code
	</sql>

	<!--根据查询条件，查询合同分类列表数据-->
	<select id="sysContractTypeList" resultMap="contractType" parameterType="map">
		SELECT
		<include refid="Base_Column_List"/>
		from sys_contract_type
		where 1=1 and status_code!=2
		ORDER BY create_time DESC
		<if test="offset != null and limit != null">
			limit #{offset},#{limit}
		</if>

	</select>
	<!--查询合同分类条数-->
	<select id="sysContractTypeDataTotal" resultType="int" parameterType="map">
		SELECT count(contractType_id)
		from sys_contract_type
		where 1=1 and status_code!=2

	</select>

	<update id="update" parameterType="map">
		update sys_contract_type set contractType_name = #{contractTypeName}
		where contractType_id = #{contractTypeId}
	</update>
	<insert id="save" parameterType="map">
		INSERT INTO sys_contract_type (contractType_name, contractType_code,create_time)
              VALUES   (#{contractTypeName},#{contractTypeCode} ,#{createTime})
	</insert>
	<update id="delete" parameterType="map">
		update sys_contract_type set status_code = 2
		where contractType_id = #{contractTypeId}
	</update>

</mapper>
