<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysContractDao">
	<resultMap id="sysContract" type="com.spring.boot.bean.master.SysContract">
		<result column="contract_id" property="contractId" />
		<result column="contract_name" property="contractName" />
		<result column="contract_code" property="contractCode" />
		<result column="contract_money" property="contractMoney" />
		<result column="contract_startTime" property="contractStartTime" />
		<result column="contract_endTime" property="contractEndTime" />
		<result column="contract_type_id" property="contractTypeId" />
		<result column="first_party_company" property="firstPartyCompany" />
		<result column="second_party_company" property="secondPartyCompany" />
		<result column="person_liable_name" property="personLiableName" />
		<result column="create_time" property="createTime" />
		<result column="status_code" property="statusCode" />
		<result column="company_id" property="companyId" />

		<result column="company_name" property="companyName" />
		<result column="contractNumber" property="contractNumber" />
		<result column="contractWorking" property="contractWorking" />
		<result column="contractexpired" property="contractexpired" />
		<result column="total" property="total" />
		<result column="contractType_name" property="contractTypeName" />
		<result column="fileNum" property="fileNum" />
	</resultMap>

	<sql id="Base_Column_List">
		 contract.contract_id,contract.contract_name,contract.contract_code,contract.contract_money,contract.contract_startTime,contract.contract_endTime,contract.contract_type_id,
		 contract.first_party_company,contract.second_party_company,contract.person_liable_name,contract.status_code,contract.company_id,contract.status_code,contract.create_time,company.company_name,type.contractType_name
	</sql>
	<!--根据查询条件，查询合同列表数据-->
	<select id="sysContractDataList" resultMap="sysContract" >
		SELECT
		<include refid="Base_Column_List"/>
		,COUNT(file.file_id) as fileNum
		from sys_contract as contract LEFT JOIN sys_company as company on contract.company_id=company.company_id
		LEFT JOIN sys_contract_type as type on contract.contract_type_id=type.contractType_id
		LEFT JOIN sys_contract_file as file on file.contract_id=contract.contract_id
		where 1=1
		<if test="statusCode != null and statusCode!='' or statusCode==0">
			/*status_code状态（1：未执行，2：在执行，3：即将过期，4：已经过期，5：已经删除）*/
			<choose>
				<when test="statusCode==1">
					and contract.status_code=1
				</when>
				<when test="statusCode==2">
					and (contract.status_code=2 or contract.status_code=3)
				</when>
				<when test="statusCode==3">
					and contract.status_code=3
				</when>
				<when test="statusCode==4">
					and contract.status_code=4
				</when>
				<when test="statusCode==0">
					and contract.status_code!=5
				</when>
			</choose>
			/*and TO_DAYS( contract.contract_endTime )- TO_DAYS(NOW()) BETWEEN 0 and 30*/
		</if>
		<if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
			AND contract.company_id IN
			<foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="contractStartTime != null and contractStartTime !=''">
			and contract.contract_startTime <![CDATA[ >= ]]>#{contractStartTime}
		</if>
		<if test="contractEndTime != null and contractEndTime !=''">
			and contract.contract_endTime <![CDATA[ <= ]]>#{contractEndTime}
		</if>
		<if test="contractTypeId != 0 and contractTypeId !='' and contractTypeId != null">
			and contract.contract_type_id=#{contractTypeId}
		</if>
		<if test="contractName != null and contractName !=''">
			and contract.contract_name  like concat('%', #{contractName}, '%')
		</if>
		<if test="contractCode != null and contractCode !=''">
			and contract.contract_code  like concat('%', #{contractCode}, '%')
		</if>
		<if test="firstPartyCompany != null and firstPartyCompany !=''">
			and contract.first_party_company  like concat('%', #{firstPartyCompany}, '%')
		</if>
		<if test="secondPartyCompany != null and secondPartyCompany !=''">
			and contract.second_party_company  like concat('%', #{secondPartyCompany}, '%')
		</if>

		GROUP BY contract.contract_id
		ORDER BY contract.create_time DESC
		<if test="offset != null and limit != null">
			limit #{offset},#{limit}
		</if>

	</select>
	<!--获取报表统计数据-->
	<select id="sysContractAnalysisData" resultMap="sysContract" parameterType="long">
		SELECT status_code,COUNT(contract_id) as total
		 from sys_contract as contract
		 where 1=1
		 and contract.status_code!=5
		<if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
			AND contract.company_id IN
			<foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		GROUP BY contract.status_code
	</select>

	<!--根据id查找合同信息-->
	<select id="findSysContractById" resultMap="sysContract" >
		SELECT
		contract.contract_id,contract.contract_name,contract.contract_code,contract.contract_money,contract.contract_startTime,contract.contract_endTime,contract.contract_type_id,
		contract.first_party_company,contract.second_party_company,contract.person_liable_name,contract.status_code,contract.company_id,company.company_name,type.contractType_name
		from sys_contract as contract LEFT JOIN sys_company as company on contract.company_id=company.company_id
		LEFT JOIN sys_contract_type as type on contract.contract_type_id=type.contractType_id
		where 1=1
		and contract.contract_id = #{contractId}
		and contract.status_code!=5
	</select>

	<!--根据id查找文档信息-->
	<select id="findSysContractFileById" resultType="com.spring.boot.bean.master.SysContractFile" >
		SELECT
		file_id AS fileId,
		contract_id AS contractId,
		file_name AS fileName,
		file_size AS fileSize,
		file_url AS fileUrl FROM
		sys_contract_file where 1=1
		and contract_id = #{contractId}
		and status_code!=2
	</select>
	<!--查询即将到期合同列表数据（结束时间-当前时间<=31天）-->
	<!--<select id="sysContractExpireDataList" resultMap="sysContract" >
		SELECT
		<include refid="Base_Column_List"/>
		from sys_contract as contract LEFT JOIN sys_company as company on contract.company_id=company.company_id
		where 1=1
		and TO_DAYS( contract.contract_endTime )- TO_DAYS(NOW()) BETWEEN 0 and 30
		and status_code!=2
		<if test="companyId != 0">
			and contract.company_id=#{companyId}
		</if>
	</select>-->
	<!--更新快到期的合同状态（结束时间-当前时间<=31天）-->
	<update id="updateSysContractExpire"  >
		update sys_contract  set
		<choose>
			<when test="type==1">
				status_code=1
				where  contract_startTime <![CDATA[ >= ]]>#{nowTime}
			</when>
			<when test="type==2">
				status_code=2
				where  contract_startTime <![CDATA[ <= ]]>#{nowTime} and contract_endTime <![CDATA[ >= ]]>#{nowTime} and status_code!=3
			</when>
			<when test="type==3">
				status_code=3
				where  TO_DAYS( contract_endTime )- TO_DAYS(NOW()) BETWEEN 0 and 30
			</when>
			<when test="type==4">
				status_code=4
				where  contract_endTime <![CDATA[ <= ]]>#{nowTime}
			</when>
		</choose>


	</update>
	<select id="sysContractDataTotal" resultType="int" >
		SELECT count(contract.contract_id)
		from sys_contract as contract
		where 1=1
		<if test="statusCode != null and statusCode!='' or statusCode==0">
			/*status_code状态（1：未执行，2：在执行，3：即将过期，4：已经过期，5：已经删除）*/
			<choose>
				<when test="statusCode==1">
					and contract.status_code=1
				</when>
				<when test="statusCode==2">
					and (contract.status_code=2 or contract.status_code=3)
				</when>
				<when test="statusCode==3">
					and contract.status_code=3
				</when>
				<when test="statusCode==4">
					and contract.status_code=4
				</when>
				<when test="statusCode==0">
					and contract.status_code!=5
				</when>
			</choose>
			/*and TO_DAYS( contract.contract_endTime )- TO_DAYS(NOW()) BETWEEN 0 and 30*/
		</if>
		<if test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
			AND contract.company_id IN
			<foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="contractStartTime != null and contractStartTime!=''">
			and contract.contract_startTime <![CDATA[ >= ]]>#{contractStartTime}
		</if>
		<if test="contractEndTime != null and contractEndTime !=''">
			and contract.contract_endTime <![CDATA[ <= ]]>#{contractEndTime}
		</if>
		<if test="contractTypeId != 0 and contractTypeId !='' and contractTypeId != null">
			and contract.contract_type_id=#{contractTypeId}
		</if>
		<if test="contractName != null and contractName !=''">
			and contract.contract_name  like concat('%', #{contractName}, '%')
		</if>
		<if test="contractCode != null and contractCode !=''">
			and contract.contract_code  like concat('%', #{contractCode}, '%')
		</if>
		<if test="firstPartyCompany != null and firstPartyCompany !=''">
			and contract.first_party_company  like concat('%', #{firstPartyCompany}, '%')
		</if>
		<if test="secondPartyCompany != null and secondPartyCompany !=''">
			and contract.second_party_company  like concat('%', #{secondPartyCompany}, '%')
		</if>

	</select>
	<select id="findSysContractByContractCode" resultMap="sysContract" >
		select *
		from sys_contract
		where contract_code = #{contractCode}
	</select>
	<update id="updateSysContract" parameterType="map">
		update sys_contract set contract_name = #{contractName},contract_code = #{contractCode},contract_money = #{contractMoney},contract_startTime = #{contractStartTime},
		contract_endTime = #{contractEndTime},contract_type_id = #{contractTypeId},first_party_company = #{firstPartyCompany},second_party_company = #{secondPartyCompany},
		person_liable_name = #{personLiableName},company_id = #{companyId}
		where contract_id = #{contractId}
	</update>
	<insert id="save" parameterType="com.spring.boot.bean.master.SysContract" useGeneratedKeys="true" keyProperty="contractId">
		INSERT INTO sys_contract  (contract_name, contract_code,contract_money,contract_startTime,contract_endTime,contract_type_id,first_party_company,second_party_company,person_liable_name,
		 create_time,company_id)
              VALUES   (#{contractName},#{contractCode},#{contractMoney},#{contractStartTime},#{contractEndTime},#{contractTypeId},#{firstPartyCompany},#{secondPartyCompany},#{personLiableName},#{createTime},#{companyId} )
	</insert>
	<update id="deleteSysContract" parameterType="map">
		update sys_contract  set status_code = 5
		where contract_id = #{contractId}
	</update>
	<!--添加附件文档-->
	<insert id="addSysContractFile" parameterType="com.spring.boot.bean.master.SysContractFile" useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO sys_contract_file (file_name, file_size, file_url, upload_time,contract_id)
		VALUES   (#{fileName},#{fileSize},#{fileUrl},#{uploadTime},#{contractId})
	</insert>
	<!--根据id删除文档附件信息（用于更新时操作）-->
	<delete id="deleteSysContractFileByContractId" >
		DELETE FROM sys_contract_file WHERE contract_id = #{contractId}
	</delete>

</mapper>
