<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysDepartmentDao">
	<resultMap id="sysDepartment" type="com.spring.boot.bean.master.SysDepartment">
		<result column="department_id" property="departmentId" />
		<result column="department_name" property="departmentName" />
		<result column="department_code" property="departmentCode" />
		<result column="company_id" property="companyId" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		department_id, department_name, department_code, company_id,status
	</sql>
	<select id="queryList" resultMap="sysDepartment" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from sys_department
		where `status`!=3
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="getSysDepartmentTotal" resultType="int" parameterType="map">
		select count(department_id)
		<include refid="Base_Column_List"/>
		from sys_department
		where `status`!=3
	</select>
	<update id="update" parameterType="map">
		update sys_department set department_name = #{departmentName},company_id= #{companyId},status = #{status}
		where department_id = #{departmentId}
	</update>
	<insert id="save" parameterType="map">
		INSERT INTO sys_department (department_name, department_code, company_id　)
              VALUES   (#{departmentName},#{departmentCode},#{companyId})
	</insert>
	<!-- 删除部门信息，只更新部门状态 -->
	<update id="delete" parameterType="map">
		update sys_department set status =2
		where department_id = #{departmentId}
	</update>

</mapper>
