<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysEnergyDao">
	<resultMap id="sysEnergy" type="com.spring.boot.bean.master.SysEnergy">
		<result column="energy_id" property="energyId" />
		<result column="month_consumption_electricity" property="monthConsumptionElectricity" />
		<result column="month_consumption_water" property="monthConsumptionWater" />
		<result column="create_time" property="createTime" />
		<result column="company_id" property="companyId" />
		<result column="year" property="year" />
		<result column="month" property="month" />
	</resultMap>
	<sql id="Base_Column_List">
		energy_id, month_consumption_electricity, month_consumption_water,create_timecreate_time, company_id,status_code
	</sql>

	<update id="updateSysEnergy" parameterType="map">
		update sys_energy set month_consumption_electricity = #{monthConsumptionElectricity},company_id= #{companyId},month_consumption_water = #{monthConsumptionWater},year=#{year},month=#{month}
		where project_id = #{projectId}
	</update>
	<insert id="addSysEnergy" parameterType="map">
		INSERT INTO sys_energy (month_consumption_electricity, company_id, month_consumption_water,year,month,create_time,project_id)
              VALUES   (#{monthConsumptionElectricity},#{companyId},#{monthConsumptionWater},#{year},#{month},#{createTime},#{projectId})
	</insert>


</mapper>
