<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysFileDao">

    <!--根据文件id查找品质管理文件记录-->
    <select id="fileSysQualityManageFileById" resultType="com.spring.boot.bean.master.SysQualityManageFile" >
        SELECT
        file_name AS fileName,file_url as fileUrl  FROM
        sys_quality_manage_file where 1=1
        and file_id = #{fileId}
    </select>
    <!--根据文件id查找工程能耗文件记录-->
    <select id="fileSysProjectEnergyFileById" resultType="com.spring.boot.bean.master.SysProjectEnergyFile" >
        SELECT
        file_name AS fileName,file_url as fileUrl  FROM
        sys_project_energy_file where 1=1
        and file_id = #{fileId}
    </select>
    <!--根据文件id查找合同档案文件记录-->
    <select id="fileSysContractFileById" resultType="com.spring.boot.bean.master.SysContractFile" >
        SELECT
        file_name AS fileName,file_url as fileUrl  FROM
        sys_contract_file where 1=1
        and file_id = #{fileId}
    </select>

    <!--根据文件id基础数据附件文档信息-->
    <select id="fileSysBasicDataFileById" resultType="com.spring.boot.bean.master.SysBasicDataFile" >
        SELECT
        file_name AS fileName,file_url as fileUrl  FROM
        sys_basic_data_file where 1=1
        and file_id = #{fileId}
    </select>
    <!--根据文件id公司附件文档信息-->
    <select id="fileSysCompanyFileById" resultType="com.spring.boot.bean.master.SysCompanyFile" >
        SELECT
        file_name AS fileName,file_url as fileUrl  FROM
        sys_company_file where 1=1
        and file_id = #{fileId}
    </select>

    <!--根据id删除品质文档附件信息-->
    <delete id="deleteSysQualityManageFileById" >
        DELETE FROM sys_quality_manage_file WHERE file_id = #{fileId}
    </delete>
    <!--根据id删除功能能耗文档附件信息-->
    <delete id="deleteSysProjectEnergyFileById" >
        DELETE FROM sys_project_energy_file WHERE file_id = #{fileId}
    </delete>
    <!--根据id删除合同文档附件信息-->
    <delete id="deleteSysContractFileById" >
        DELETE FROM sys_contract_file WHERE file_id = #{fileId}
    </delete>

    <!--根据文件id删除基础数据文件-->
    <delete id="deleteSysBasicFileById" >
        DELETE FROM sys_basic_data_file WHERE file_id = #{fileId}
    </delete>
    <!--根据文件id删除应收账款文件-->
    <delete id="deleteSysAccountsReceivableFileById" >
        DELETE FROM a WHERE file_id = #{fileId}
    </delete>
    <!--根据文件id删除预算执行文件-->
    <delete id="deleteSysBudgetFileById" >
        DELETE FROM a WHERE file_id = #{fileId}
    </delete>
    <!--根据文件id删除公司文件-->
    <delete id="deleteSysCompanyFileById" >
        DELETE FROM sys_company_file WHERE file_id = #{fileId}
    </delete>

</mapper>
