<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysLaborCostDao">
    <resultMap id="sysLaborCost" type="com.spring.boot.bean.master.SysLaborCost">
        <result column="labor_cost_id" property="laborCostId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="company_id" property="companyId"/>
        <result column="create_time" property="createTime"/>
        <result column="status_code" property="statusCode"/>
        <result column="companyName" property="companyName"/>
    </resultMap>

    <resultMap id="sysLaborCostDetailsEntity" type="com.spring.boot.bean.master.entity.SysLaborCostDetailsEntity">
        <result column="labor_cost_id" property="laborCostId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="company_id" property="companyId"/>
        <result column="create_time" property="createTime"/>
        <result column="status_code" property="statusCode"/>
        <result column="details_id" property="laborCostDetailsId"/>
        <result column="employee_total" property="employeeTotal"/>
        <result column="headcount_total" property="headcountTotal"/>
        <result column="entry_total" property="entryTotal"/>
        <result column="demission_total" property="demissionTotal"/>
        <result column="labor_cost_total" property="laborCostTotal"/>
        <result column="department_type" property="departmentType"/>
        <result column="company_name" property="companyName"/>
        <result column="pay_people_total" property="payPeopleTotal"/>
        <result column="begin_month_people" property="beginMonthPeople"/>
        <result column="month_deploy" property="monthDeploy"/>
    </resultMap>
    <resultMap id="sysLaborCostDetails" type="com.spring.boot.bean.master.SysLaborCostDetails">
        <result column="details_id" property="detailsId"/>
        <result column="employee_total" property="employeeTotal"/>
        <result column="headcount_total" property="headcountTotal"/>
        <result column="entry_total" property="entryTotal"/>
        <result column="demission_total" property="demissionTotal"/>
        <result column="labor_cost_total" property="laborCostTotal"/>
        <result column="labor_cost_id" property="laborCostId"/>
        <result column="department_type" property="departmentType"/>
        <result column="pay_people_total" property="payPeopleTotal"/>
        <result column="begin_month_people" property="beginMonthPeople"/>
        <result column="month_deploy" property="monthDeploy"/>
    </resultMap>

    <sql id="Base_Column_List">
		laborCost.labor_cost_id, laborCost.year, laborCost.month, laborCost.company_id,laborCost.create_time,laborCost.status_code,
		details.details_id,details.employee_total,details.headcount_total,details.entry_total,details.demission_total,details.labor_cost_total,details.department_type
	</sql>
    <!--根据分公司id获取 物业、电商、销配当月在职总人数、编制总人数、入职总人数、离职总人数、人工总成本-->
    <sql id="Base_Column_List_Details">
        laborCost.labor_cost_id,laborCost.company_id,
        laborCost.year,laborCost.month,laborCost.create_time,laborCost.status_code,company.company_name,
        IFNULL(SUM(details.demission_total), 0) AS demission_total,
        IFNULL(SUM(details.headcount_total), 0) AS headcount_total,
        IFNULL(SUM(details.employee_total), 0) AS employee_total,
        IFNULL(SUM(details.entry_total), 0) AS entry_total,
        IFNULL(SUM(details.labor_cost_total), 0) AS labor_cost_total
    </sql>

    <!--根据 物业、电商、销配部门类型获取当月人工总成本-->
    <sql id="SysLaborCost_Department_Total">
        IFNULL(SUM(details.demission_total), 0) AS demission_total,
        IFNULL(SUM(details.headcount_total), 0) AS headcount_total,
        IFNULL(SUM(details.employee_total), 0) AS employee_total,
        IFNULL(SUM(details.entry_total), 0) AS entry_total,
        IFNULL(SUM(details.labor_cost_total), 0) AS labor_cost_total,
        details.department_type
    </sql>

    <sql id="Base_Column_List_SysLaborCost">
        labor_cost_id, year, month, company_id,create_time,status_code
    </sql>
    <!--获取 全国分公司 物业、电商、销配当月在职总人数、编制总人数、入职总人数、离职总人数、人工总成本-->
    <select id="getSysLaborCostTotal" resultMap="sysLaborCostDetailsEntity" parameterType="map">
        SELECT SUM(sum.demission_total) as demission_total,SUM(sum.headcount_total)as headcount_total,SUM(sum.employee_total) as employee_total,
        SUM(sum.entry_total) AS entry_total,SUM(sum.labor_cost_total) AS labor_cost_total,SUM(sum.pay_people_total) AS pay_people_total,SUM(sum.begin_month_people) AS begin_month_people
        ,SUM(sum.month_deploy) AS month_deploy
        from (SELECT
        IFNULL(SUM(details.demission_total), 0) AS demission_total,
        IFNULL(SUM(details.headcount_total), 0) AS headcount_total,
        IFNULL(SUM(details.employee_total), 0) AS employee_total,
        IFNULL(SUM(details.entry_total), 0) AS entry_total,

        IFNULL(SUM(details.pay_people_total), 0) AS pay_people_total,
        IFNULL(SUM(details.begin_month_people), 0) AS begin_month_people,
        IFNULL(SUM(details.month_deploy), 0) AS month_deploy,

        IFNULL(SUM(details.labor_cost_total), 0) AS labor_cost_total FROM sys_labor_cost AS laborCost
        LEFT JOIN sys_labor_cost_details AS details ON laborCost.labor_cost_id = details.labor_cost_id
        LEFT JOIN sys_company as company on company.company_id=laborCost.company_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND laborCost.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND laborCost.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and laborCost.year=#{year}
        and laborCost.month=#{month}
        and laborCost.status_code!=2
        GROUP BY laborCost.labor_cost_id) as sum
    </select>
    <!--根据 物业、电商、销配部门类型获取当月人工总成本-->
    <select id="getSysLaborCostDepartmentTotal" resultMap="sysLaborCostDetails" parameterType="map">
        select
        <include refid="SysLaborCost_Department_Total"/>
        FROM sys_labor_cost AS laborCost
        right JOIN sys_labor_cost_details AS details ON laborCost.labor_cost_id = details.labor_cost_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND laborCost.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND laborCost.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and laborCost.year=#{year}
        and laborCost.month=#{month}
        and laborCost.status_code!=2
        GROUP BY details.department_type
    </select>
    <!--查找列表数据-->
    <select id="getSysLaborCostList" resultMap="sysLaborCostDetailsEntity" parameterType="map">
        select
        <include refid="Base_Column_List_Details"/>
        from sys_labor_cost as laborCost LEFT JOIN sys_labor_cost_details as details on laborCost.labor_cost_id=details.labor_cost_id
        LEFT JOIN sys_company as company on company.company_id=laborCost.company_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND laborCost.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND laborCost.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and laborCost.year=#{year}
        <if test="month != null and month != ''">
            and laborCost.month=#{month}
        </if>
        and laborCost.status_code!=2
        GROUP BY  laborCost.labor_cost_id
        order by laborCost.year desc,laborCost.month desc
       <!-- <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>-->
    </select>
    <!--查找列表总数-->
    <select id="getSysLaborCostListTotal" resultType="int" parameterType="map">
        select count(labor_cost_id) from (select
        <include refid="Base_Column_List_Details"/>
        from sys_labor_cost as laborCost LEFT JOIN sys_labor_cost_details as details on laborCost.labor_cost_id=details.labor_cost_id
        LEFT JOIN sys_company as company on company.company_id=laborCost.company_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND laborCost.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND laborCost.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>

        and laborCost.year=#{year}
        <if test="month != null and month != ''">
            and laborCost.month=#{month}
        </if>
        and laborCost.status_code!=2
        GROUP BY  laborCost.labor_cost_id) as a
    </select>
    <!--根据人员成本id查找对应的信息-->
    <select id="findSysLaborCostByLaborCostId" resultMap="sysLaborCost" parameterType="Long">
        select
        laborCost.*,company.company_name as companyName
        from sys_labor_cost as laborCost left join sys_company as company on laborCost.company_id=company.company_id
        where labor_cost_id = #{laborCostId}
    </select>
    <!--根据年份、月份、公司id查找系统记录-->
    <select id="findRecordByYearAndMonthAndCompanyId" resultMap="sysLaborCost" >
        select labor_cost_id from sys_labor_cost
        where  company_id=#{companyId} and year=#{year} and month=#{month} and status_code!=2
    </select>
    <!--根据人员成本id查找对应部门详细信息-->
    <select id="findSysLaborCostDetailsByLaborCostId" resultMap="sysLaborCostDetails" parameterType="Long">
        select * from sys_labor_cost_details
        where labor_cost_id = #{laborCostId}
    </select>
    <!--更新人员成本信息-->
    <update id="updateSysLaborCostInfo" parameterType="com.spring.boot.bean.master.SysLaborCost">
		update sys_labor_cost set year = #{year},month = #{month},company_id = #{companyId}
		where labor_cost_id = #{laborCostId}
	</update>
    <!--更新人员成本详细信息-->
    <update id="updateSysLaborCostDetailsInfo" parameterType="com.spring.boot.bean.master.SysLaborCostDetails">
        update sys_labor_cost_details set employee_total = #{employeeTotal},headcount_total = #{headcountTotal},entry_total = #{entryTotal},demission_total = #{demissionTotal},
        labor_cost_total = #{laborCostTotal},pay_people_total = #{payPeopleTotal},begin_month_people = #{beginMonthPeople},month_deploy = #{monthDeploy}
        where labor_cost_id = #{laborCostId} and department_type=#{departmentType}
    </update>

    <insert id="addSysLaborCost"  useGeneratedKeys="true" keyProperty="laborCostId">
		INSERT INTO sys_labor_cost (year, month, company_id, create_time )
              VALUES   (#{year},#{month},#{companyId},#{createTime})
	</insert>
    <insert id="addSysLaborCostDetails" parameterType="map">
        INSERT INTO sys_labor_cost_details (employee_total, headcount_total, entry_total, demission_total,labor_cost_total,department_type,labor_cost_id,pay_people_total,begin_month_people,month_deploy )
        VALUES   (#{employeeTotal},#{headcountTotal},#{entryTotal},#{demissionTotal},#{laborCostTotal},#{departmentType},#{laborCostId},#{payPeopleTotal},#{beginMonthPeople},#{monthDeploy})
    </insert>
    <update id="delete" parameterType="map">
		update sys_labor_cost set status_code = 2
		where labor_cost_id = #{laborCostId}
	</update>

</mapper>
