<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysMenuDao">
    <resultMap id="sysMenu" type="com.spring.boot.bean.master.SysMenu">
        <result column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="parent_id" property="parentId"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="menu_type" property="menuType"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="is_use" property="isUse"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!--<parameterMap id="user" type="com.spring.boot.bean.User"/>-->

    <sql id="Base_Column_List">
		menu_id,menu_name,parent_id,url,perms,menu_type,icon,sort,is_use,remark
	</sql>
 <!--   <select id="queryList" resultMap="sysCompany" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_company
        where status_code!=2
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>-->
    <!--查找目录和菜单，用于新增菜单时使用-->
    <select id="queryCatalogAndMenu" resultMap="sysMenu" parameterType="Integer">
        select <include refid="Base_Column_List"/> from sys_menu where 1=1
        <choose>
           <!-- <when test="menuType==0">
                and type=0
            </when>-->
            <when test="menuType==1">
                and menu_type=0
            </when>
        </choose>
         and is_use!=3
    </select>
    <select id="findMenuByParentId" resultMap="sysMenu" >
        select * from sys_menu where 1=1 and parent_id = #{parentId} and is_use=1
        <if test="selectType != null and selectType!=''">
			<choose>
				<when test="selectType==1">
                    and menu_type!=2
				</when>
				<!--<when test="selectType==2">
                    and type!=0
				</when>-->
			</choose>
		</if>
        <!--<if test="selectType != null and selectType==1">
            and type=1 and type=0
        </if>-->
    </select>
    <select id="findMenuAndModule" resultMap="sysMenu" >
        select * from sys_menu where 1=1 and menu_type =1 and is_use=1
    </select>

    <!--获取菜单列表-->
    <select id="getSysMenuList" resultMap="sysMenu"  parameterType="map">
        select <include refid="Base_Column_List"/>
        from sys_menu
        where is_use !=3
        <if test="menuName != null and menuName !=''">
            and menu_name  like concat('%', #{menuName}, '%')
        </if>
        <if test="menuUrl != null and menuUrl !=''">
            and url like concat('%', #{menuUrl}, '%')
        </if>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <!--获取菜单列表总条数-->
    <select id="getSysMenuListTotal" resultType="int"  parameterType="map">
        select count(menu_id)
        from sys_menu
        where is_use !=3
    </select>
    <update id="updateSysMenu" parameterType="map">
		update sys_menu set menu_name = #{menuName},parent_id = #{parentId},url = #{menuUrl},perms = #{menuPerms},menu_type = #{menuType},sort = #{sort},remark = #{remark},icon = #{icon}
		where menu_id = #{menuId}
	</update>
    <insert id="addSysMenu" parameterType="map">
		INSERT INTO sys_menu (menu_name, parent_id, url,perms,menu_type,icon,sort,remark)
              VALUES   (#{menuName},#{parentId},#{menuUrl},#{menuPerms},#{menuType},#{icon},#{sort},#{remark})
	</insert>
    <update id="deleteSysMenuById" parameterType="map">
		update sys_menu set is_use =3
		where menu_id = #{menuId}
	</update>
    <select id="findSysMenuInfoByMenuId" resultMap="sysMenu" >
        select <include refid="Base_Column_List"/>
        from sys_menu where 1=1   and is_use=1 and menu_id=#{menuId}
    </select>



</mapper>
