
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysProjectDao">
	<resultMap id="sysProject" type="com.spring.boot.bean.master.SysProject">
		<result column="project_id" property="projectId" />
		<result column="project_name" property="projectName" />
		<result column="project_total" property="projectTotal" />
		<result column="project_unfinished_total" property="projectUnfinishedTotal" />
		<result column="project_finished_total" property="projectFinishedTotal" />
		<result column="project_energy_id" property="projectEnergyId" />
		<result column="create_time" property="createTime" />
		<result column="company_id" property="companyId" />
		<result column="year" property="year" />
		<result column="month" property="month" />
	</resultMap>

	<sql id="Base_Column_List">
		project_id,project_name,project_total,project_unfinished_total,project_finished_total,project_energy_id,create_time,company_id,year,month
	</sql>


	<update id="updateSysProject" parameterType="map">
		update sys_project set project_total = #{projectTotal},project_unfinished_total = #{projectUnfinishedTotal},project_finished_total = #{projectFinishedTotal},
		company_id = #{companyId},year = #{year},month = #{month}
		where project_energy_id = #{projectEnergyId}
	</update>
	<insert id="addSysProject" parameterType="com.spring.boot.bean.master.SysProject" useGeneratedKeys="true" keyProperty="projectId">
		INSERT INTO sys_project  (project_total, project_unfinished_total,project_finished_total,project_energy_id,create_time,company_id,year,month)
              VALUES   (#{projectTotal},#{projectUnfinishedTotal},#{projectFinishedTotal},#{projectEnergyId},#{createTime},#{companyId},#{year},#{month})
	</insert>


</mapper>
