<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysQualityManageDao">
    <resultMap id="sysQualityManage" type="com.spring.boot.bean.master.SysQualityManage">
        <result column="quality_id" property="qualityId"/>
        <result column="company_id" property="companyId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="quality_check" property="qualityCheck"/>
        <result column="quality_check_pass" property="qualityCheckPass"/>
        <result column="quality_check_fail" property="qualityCheckFail"/>
        <result column="security_event" property="securityEvent"/>
        <result column="quality_check_unmodified" property="qualityCheckUnmodified"/>
        <result column="status_code" property="statusCode"/>
        <result column="create_time" property="createTime"/>
        <result column="companyName" property="companyName"/>
        <result column="fileNum" property="fileNum"/>
        <result column="last_quality_check_unmodified" property="lastQualityCheckUnmodified"/>
    </resultMap>

    <!--<parameterMap id="user" type="com.spring.boot.bean.User"/>-->

    <sql id="Base_Column_List">
		quality.quality_id,quality.company_id, quality.year, quality.month, quality.quality_check,quality.quality_check_pass,quality.quality_check_fail,quality.quality_check_unmodified
		,quality.security_event,quality.status_code,quality.create_time,quality.last_quality_check_unmodified
	</sql>
    <select id="queryList" resultMap="sysQualityManage" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        ,company.company_name as companyName,COUNT(file.file_id) AS fileNum
        from sys_quality_manage as quality LEFT JOIN sys_company as company on quality.company_id=company.company_id
        LEFT JOIN sys_quality_manage_file AS file ON quality.quality_id = file.quality_id
        where 1=1
        <choose>
            <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                AND quality.company_id IN
                <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND quality.company_id IN(SELECT company_id from sys_company where status_code!=2)
            </otherwise>
        </choose>
        and quality.year = #{year}
        and quality.status_code!=2
        GROUP BY
        quality.quality_id
        ORDER BY quality.year DESC,quality.month DESC
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <!--根据公司id查找 年 度品质管理分析情况-->
    <select id="sysQualityManageAnalysisForYear" resultType="com.spring.boot.bean.master.entity.SysQualityManageEntity" parameterType="map">
        SELECT
        SUM(quality.quality_check) as qualityCheck,
        SUM(quality.quality_check_pass) as qualityCheckPass,
        SUM(quality.quality_check_fail) as qualityCheckFail,
        SUM(
            quality.quality_check_unmodified
        ) as qualityCheckUnmodified,
        SUM(quality.security_event) as securityEvent
        FROM sys_quality_manage AS quality
        WHERE 1 = 1
        /*注：type为1时，为按区域查询（小区）查询数据，type为2时，不考虑登录用户权限内小区，查询全国数据，即是物业大屏数据展示分析接口使用*/
            <choose>
                <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                    AND quality.company_id IN
                    <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    AND quality.company_id IN(SELECT company_id from sys_company where status_code!=2)
                </otherwise>
            </choose>

        and quality.year = #{year}
        and quality.status_code!=2
    </select>
    <!--根据公司id查找 月 度品质管理分析情况-->
    <select id="sysQualityManageAnalysisForMonth" resultType="com.spring.boot.bean.master.entity.SysQualityManageEntity" parameterType="map">
        SELECT
        SUM(quality.quality_check) as qualityCheck,
        SUM(quality.quality_check_pass) as qualityCheckPass,
        SUM(quality.quality_check_fail) as qualityCheckFail,
        SUM(
        quality.quality_check_unmodified
        ) as qualityCheckUnmodified,
        SUM(quality.security_event) as securityEvent
        FROM sys_quality_manage AS quality
        WHERE 1 = 1
        /*注：type为1时，为按区域查询（小区）查询数据，type为2时，不考虑登录用户权限内小区，查询全国数据，即是物业大屏数据展示分析接口使用*/
            <choose>
                <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                    AND  quality.company_id IN
                    <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    AND quality.company_id IN(SELECT company_id from sys_company where status_code!=2)
                </otherwise>
            </choose>

        and quality.year = #{year}
        and quality.month = #{month}
        and quality.status_code!=2
    </select>
    <!--根据公司id、年份、月份查找品质管理分析列表情况-->
    <select id="sysQualityManageAnalysisList" resultMap="sysQualityManage" parameterType="map">
        SELECT
        quality.month as month,
        SUM(quality.quality_check) as qualityCheck,
        SUM(quality.quality_check_pass) as qualityCheckPass,
        SUM(quality.quality_check_fail) as qualityCheckFail,
        SUM(
        quality.quality_check_unmodified
        ) as qualityCheckUnmodified,
        SUM(quality.security_event) as securityEvent
        FROM sys_quality_manage AS quality
        WHERE 1 = 1
        /*注：type为1时，为按区域查询（小区）查询数据，type为2时，不考虑登录用户权限内小区，查询全国数据，即是物业大屏数据展示分析接口使用*/
            <choose>
                <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
                    AND  quality.company_id IN
                    <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    AND quality.company_id IN(SELECT company_id from sys_company where status_code!=2)
                </otherwise>
            </choose>

        and quality.year = #{year}
    <!-- /*and quality.month = #{month}*/-->
     and quality.status_code!=2
      GROUP BY `month`
 </select>
 <select id="getSysQualityManageListTotal" resultType="int"  parameterType="map">
     select count(quality_id)
     from sys_quality_manage
     where 1=1
     <choose>
         <when test="sysUserCompanyIds != null and sysUserCompanyIds.size>0">
             AND  company_id IN
             <foreach collection="sysUserCompanyIds" item="item" index="index" open="(" close=")" separator=",">
                 #{item}
             </foreach>
         </when>
         <otherwise>
             AND company_id IN(SELECT company_id from sys_company where status_code!=2)
         </otherwise>
     </choose>
     and year = #{year}
     and status_code!=2
 </select>
 <update id="updateSysQualityManage" parameterType="map">
     update sys_quality_manage set company_id = #{companyId},year = #{year},month = #{month},quality_check = #{qualityCheck},quality_check_pass = #{qualityCheckPass}
     ,quality_check_fail = #{qualityCheckFail},security_event = #{securityEvent},quality_check_unmodified = #{qualityCheckUnmodified},last_quality_check_unmodified = #{lastQualityCheckUnmodified}
     where quality_id = #{qualityId}
 </update>
 <insert id="addSysQualityManage" parameterType="com.spring.boot.bean.master.SysQualityManage" useGeneratedKeys="true" keyProperty="qualityId">
     INSERT INTO sys_quality_manage (company_id, year, month, quality_check,quality_check_pass,quality_check_fail,security_event,quality_check_unmodified,create_time,last_quality_check_unmodified)
           VALUES   (#{companyId},#{year},#{month},#{qualityCheck},#{qualityCheckPass},#{qualityCheckFail},#{securityEvent},#{qualityCheckUnmodified},#{createTime},#{lastQualityCheckUnmodified})
 </insert>
 <!--添加附件文档-->
    <insert id="addSysQualityManageFile" parameterType="com.spring.boot.bean.master.SysQualityManageFile" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO sys_quality_manage_file (quality_id, file_name, file_url, file_size,upload_time)
        VALUES   (#{qualityId},#{fileName},#{fileUrl},#{fileSize},#{uploadTime})
    </insert>

    <update id="deleteSysQualityManageById" parameterType="map">
		update sys_quality_manage set status_code = 2
		where quality_id = #{qualityId}
	</update>
    <!--根据公司id查找公司信息-->
    <select id="findSysCompanyByCompanyId" resultMap="sysQualityManage" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_company
        where 1=1 and company_id = #{companyId} and status_code!=2
    </select>

    <!--根据id查找详细信息-->
    <select id="findSysQualityManageById" resultMap="sysQualityManage" >
        select
        <include refid="Base_Column_List"/>
        ,company.company_name as companyName,COUNT(file.file_id) AS fileNum
        from sys_quality_manage as quality LEFT JOIN sys_company as company on quality.company_id=company.company_id
        LEFT JOIN sys_quality_manage_file AS file ON quality.quality_id = file.quality_id
        where 1=1
        and quality.quality_id = #{qualityId}
        and quality.status_code!=2
        GROUP BY
        quality.quality_id
        ORDER BY quality.create_time DESC
    </select>
    <!--根据id查找文档信息-->
    <select id="findSysQualityManageFileById" resultType="com.spring.boot.bean.master.SysQualityManageFile" >
        SELECT
        file_id AS fileId,
        quality_id AS qualityId,
        file_name AS fileName,
        file_size AS fileSize,
        file_url AS fileUrl FROM
	    sys_quality_manage_file where 1=1
	    and quality_id = #{qualityId}
	    and status_code!=2
    </select>
    <!--根据品质id删除文档附件信息（用于更新时操作）-->
    <delete id="deleteSysQualityManageFileByQualityId" >
        DELETE FROM sys_quality_manage_file WHERE quality_id = #{qualityId}
    </delete>
    <!--根据公司id、年份、月份查找系统记录-->
    <select id="sysQualityManageRecord" resultType="com.spring.boot.bean.master.SysQualityManage" >
        SELECT
        quality_id AS qualityId  FROM
        sys_quality_manage where 1=1
        and company_id = #{companyId} and year = #{year}
        and month = #{month} and status_code!=2
    </select>

</mapper>
