<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysRoleDao">
	<resultMap id="sysRole" type="com.spring.boot.bean.master.SysRole">
		<result column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="status_code" property="statusCode" />
	</resultMap>

	<sql id="Base_Column_List">
		role_id, role_name, remark, create_time,status_code,create_user_id
	</sql>

	<select id="findByUserId" resultMap="sysRole" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where role_id = #{roleId}
	</select>

	<select id="queryList" resultMap="sysRole" >
		select
		<include refid="Base_Column_List" />
		from sys_role
		where status_code!=2
		order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset},#{limit}
		</if>
	</select>
	<select id="getSysRoleListTotal" resultType="int"  parameterType="map">
		select count(role_id)
		from sys_role
		where status_code!=2
	</select>
	<update id="updatePassword" parameterType="map">
		update sys_role set `user_password` = #{newPassword}
		where id = #{userId} and user_password = #{password}
	</update>
	<insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="roleId">
		INSERT INTO sys_role (role_name, remark, create_time)
		VALUES   (#{roleName},#{remark},#{createTime} )
	</insert>
	<update id="update" parameterType="map">
		update sys_role set role_name = #{roleName},remark = #{remark}
		where role_id = #{roleId}
	</update>
	<update id="delete" parameterType="map">
		update sys_role set status_code =2
		where role_id = #{roleId}
	</update>
	<!--删除菜单角色信息-->
	<delete id="deleteSysRoleMenu" >
		DELETE FROM sys_role_menu WHERE role_id = #{roleId}
	</delete>
	<!--添加菜单角色信息-->
	<insert id="addSysRoleMenu" >
		INSERT INTO sys_role_menu (role_id, menu_id)
		VALUES   (#{roleId},#{menuId})
	</insert>

	<!--根据用户id查找用户权限详细信息（用于查找用户列表信息时获取用户多个角色信息使用）-->
	<select id="findUserRoleByRoleId" resultType="com.spring.boot.bean.master.SysRole"  parameterType="map">
		SELECT userRole.role_id as roleId,role.role_name as roleName from sys_user_role as userRole LEFT JOIN sys_role as role on userRole.role_id=role.role_id WHERE user_id=#{userId}
	</select>

</mapper>
