<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysUserRoleDao">

	<!--添加用户角色信息，后期可能会有一个用户对应多个角色，作一对多操作-->
	<insert id="addUserRole" parameterType="com.spring.boot.bean.master.SysUserRole" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO sys_user_role (user_id, role_id)
		VALUES   (#{userId},#{roleId})
	</insert>
	<!--根据品质id删除文档附件信息（用于更新时操作）-->
	<delete id="deleteUserRoleByUserId" >
		DELETE FROM sys_user_role WHERE user_id = #{userId}
	</delete>

	<select id="findRoleByUserId" resultType="com.spring.boot.bean.master.SysUserRole"  parameterType="map">
		SELECT id,user_id as userId,role_id as roleId from sys_user_role where user_id=#{userId}
	</select>
	<!--根据角色id查找用户权限列表信息（用于删除时做判断）-->
	<select id="findRoleByRoleId" resultType="com.spring.boot.bean.master.SysUserRole"  parameterType="map">
		SELECT id,user_id as userId,role_id as roleId from sys_user_role where role_id=#{roleId}
	</select>

	<!--根据用户id查找用户权限详细信息（用于查找用户列表信息时获取用户多个角色信息使用）-->
	<select id="findUserRoleNameByRoleId" resultType="com.spring.boot.bean.master.entity.SysUserRoleEntity"  parameterType="map">
		SELECT group_concat(a.roleId) as roleIds,group_concat(a.roleName) as roleNames from(SELECT userRole.role_id as roleId,role.role_name as roleName from sys_user_role as userRole
		LEFT JOIN sys_role as role on userRole.role_id=role.role_id WHERE user_id=#{userId}) as a
	</select>
</mapper>
