<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.dao.web.master.SysUserCompanyDao">

	<!-- 获取用户权限下可以操作的公司-->
	<select id="sysUserCompany" resultType="com.spring.boot.bean.master.SysUserCompany">
		SELECT
			userCompany.user_id as userId,userCompany.company_id as companyId,company.company_name as companyName
			FROM
			sys_user_company AS userCompany
			LEFT JOIN sys_company AS company ON userCompany.company_id = company.company_id
			WHERE userCompany.user_id = #{userId}
	</select>
	<select id="sysUserCompanyAuthority" resultType="com.spring.boot.bean.master.SysUserCompany">
		SELECT
		user_id as userId,company_id as companyId
		FROM
		sys_user_company
		WHERE 1=1 and user_id = #{userId} and company_id=#{companyId}
	</select>
	<insert id="saveSysUserCompany" parameterType="com.spring.boot.bean.master.SysUserCompany" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_user_company (user_id, company_id)
		VALUES   (#{userId},#{companyId})
	</insert>
	<!--根据品质id删除文档附件信息（用于更新时操作）-->
	<delete id="deleteSysUserCompany" >
		DELETE FROM sys_user_company WHERE user_id = #{userId}
	</delete>

</mapper>
