<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html>
<head>
    <!--<link rel="icon" type="image/x-icon" href="../../../project-web/static/favicon.ico">-->
</head>
<body>
<h2>登录界面11，Hello World!</h2>
<input id="text" type="text" /><button onclick="send()">Send</button>    <button onclick="closeWebSocket()">Close</button>
<div id="message">
</div>
<!--<div id="test">
    #if($shiro.hasPermission("qualityManage:list"))
    权限信息获取得到
    #end
</div>-->
<div>

        <p>文件1：<input type="file" name="files" id="file1" multiple/></p>
       <!-- <p>文件2：<input type="file" name="files" id="file2"/></p>
        <p>文件3：<input type="file" name="files" id="file3"/></p>-->
        <p><input type="button" value="上传" onclick="uploads()"/>
       <a href="http://localhost:8080/project-web/fileUpload/download?fileIds=4;3;&fileName=22">下载1</a>
        </p>

</div>
<script src="../../../project-web/static/js/jquery/jquery.min.js"></script>
<script src="../../../project-web/static/js/ajaxfileupload.js"></script>

<script src="../../../project-web/static/js/websocket.js"></script>
<script>

</script>
</body>
</html>
